* {
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 13px;
}

.img {
    display: block;
    margin: 66px auto 0px auto;
}

.search {
    display: block;
    margin: 10px auto 0px auto;
    width: 484px;
    height: 44px;
}

button {
    margin: 30px auto 0px auto;
    width: 125px;
    height: 36px;
    background-color: #F3F3F3;
    color: #757575;
    font-weight: bold;
    padding: 0;
    border: none;
        
}

button:hover {
    color: black;
    border: 1px solid #9e9e9e;
}

.wrapper {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
